# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# VSCode settings
.vscode/

# IDE settings
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Python distribution / packaging
build/
dist/
*.egg-info/

# Environment variables / secrets
.env
.env.*

# Database / local data
*.sqlite3

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Mypy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
